# Ignore all files and folders in .angular
.angular/

# Ignore all the other directories and files you don't want to track
node_modules/
bower_components/
.npm/
.yarn/
.vscode/

# You want to push the dist folder, so it should not be ignored
!dist/

# Ignore other unwanted files like logs, cache, etc.
*.log
npm-debug.log*
yarn-debug.log*
.env
.next
.nuxt
.parcel-cache
.docusaurus
.serverless/
.fusebox/
.dynamodb/
.tern-port
