<div class="main-wrapper login-body">
    <div class="container-fluid px-0">
        <div class="row">

            <!-- Login logo -->
            <div class="col-lg-6 login-wrap">
                <div class="login-sec">
                    <div class="log-img">
                        <img class="img-fluid" src="assets/img/login-02.png" alt="Logo">
                    </div>
                </div>
            </div>
            <!-- /Login logo -->
            
            <!-- Forget Password Content -->
            <div class="col-lg-6 login-wrap-bg">
                <div class="login-wrapper">
                    <div class="loginbox">								
                        <div class="login-right">
                            <div class="login-right-wrap">
                                <div class="account-logo">
                                    <a href="admin-dashboard.html"><img src="assets/img/login-logo.png" alt=""></a>
                                </div>
                                <h2>Forgot Password</h2>
                                <!-- Form -->
                                <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
                                    <div class="form-group">
                                        <label for="email">Email <span class="login-danger">*</span></label>
                                        <input class="form-control" type="email" formControlName="email" id="email">
                                        <div *ngIf="email?.invalid && (email?.touched || email?.dirty)" class="text-danger">
                                            <div *ngIf="email?.errors?.required">Email is required.</div>
                                            <div *ngIf="email?.errors?.email">Invalid email format.</div>
                                        </div>
                                    </div>
                                    <div class="form-group login-btn">
                                        <button class="btn btn-primary btn-block" type="submit" [disabled]="forgetPasswordForm.invalid">Reset Password</button>
                                    </div>
                                </form>
                                <!-- /Form -->
                                
                                <div class="next-sign">
                                    <p class="account-subtitle">Need an account? <a [routerLink]="['/login']">Login</a></p>

                                    <!-- Social Login -->
                                    <div class="social-login">
                                        <a href="javascript:void(0);"><img src="assets/img/icons/login-icon-01.svg" alt=""></a>
                                        <a href="javascript:void(0);"><img src="assets/img/icons/login-icon-02.svg" alt=""></a>
                                        <a href="javascript:void(0);"><img src="assets/img/icons/login-icon-03.svg" alt=""></a>
                                    </div>
                                    <!-- /Social Login -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Forget Password Content -->
            
        </div>
    </div>
</div>
