<div class="page-wrapper">
    <div class="content">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Staff</a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Staff List</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <div class="row">
            <div class="col-sm-12">

                <div class="card card-table show-entire">
                    <div class="card-body">

                        <!-- Table Header -->
                        <div class="page-table-header mb-2">
                            <div class="row align-items-center">
                                <div class="col">
                                    <div class="doctor-table-blk">
                                        <h3>Staff List</h3>
                                        <div class="doctor-search-blk">
                                            <div class="top-nav-search table-search-blk">
                                                <input class="form-control" placeholder="Search here" id="searchInput" >
                                                <a class="btn"><img src="assets/img/icons/search-normal.svg" alt=""></a>
                                            </div>
                                            <div class="add-group">
                                                <a routerLink="/admin/add-staff" class="btn btn-primary add-pluss ms-2"><img src="assets/img/icons/plus.svg" alt=""></a>
                                                <a href="javascript:;" class="btn btn-primary doctor-refresh ms-2" (click)="fetchStaff()"><img src="assets/img/icons/re-fresh.svg" alt=""></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto text-end float-end ms-auto download-grp">
                                    <a href="javascript:;" class="me-2"><img src="assets/img/icons/pdf-icon-01.svg" alt=""></a>
                                    <a href="javascript:;" class="me-2"><img src="assets/img/icons/pdf-icon-02.svg" alt=""></a>
                                    <a href="javascript:;" class="me-2"><img src="assets/img/icons/pdf-icon-03.svg" alt=""></a>
                                    <a href="javascript:;" ><img src="assets/img/icons/pdf-icon-04.svg" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <!-- /Table Header -->

                        <div class="table-responsive">
                            <table class="table border-0 custom-table comman-table datatable mb-0">
                                <thead>
                                    <tr>
                                        
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Mobile</th>
                                        <th>Address 1</th>
                                        <th>Address 2</th>
                                        <th>City</th>
                                        <th>State</th>
                                        <th>Country</th>
                                        <th>Joining Date</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let staff of staffList">
                                       
                                        <td class="profile-image">
                                            {{ staff?.firstName }}  {{ staff?.lastName }}
                                        </td>
                                        <td>{{ staff?.email || "NA" }}</td>
                                        <td>{{ staff?.phone || "NA"}}</td>
                                        <td>{{ staff?.address_street1 || "NA"}}</td>
                                        <td>{{ staff?.address_street2 || "NA"}}</td>
                                        <td>{{ staff?.city?.name || "NA"}}</td>
                                        <td>{{ staff?.state?.name || "NA"}}</td>
                                        <td>{{ staff?.country?.name || "NA"}}</td>
                                        <td>{{ staff?.createdAt | date  }}</td>
                                        <td>
                                        <a (click)="editStaff(staff?._id)" class="icon-action edit-icon" title="Edit">
                                            <i class="fa-solid fa-pen-to-square m-r-5"></i>
                                        </a>
                                        <a  (click)="deleteStaff(staff?._id)" class="icon-action delete-icon" title="Delete">
                                            <i class="fa fa-trash-alt m-r-5"></i>
                                        </a>
                                    </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="table_footer">
                                <div class="col-sm-12 col-md-5">
                                  <div class="dataTables_info">
                                    Showing {{ getCurrentMin() }} to {{ getCurrentMax() }} of {{ totalDocs }} entries
                                  </div>
                                </div>
                                <div class="col-sm-12 col-md-7">
                                  <div class="pagination_section">
                                    <ul class="pagination">
                                      <li class="page-item" [class.disabled]="currentPage === 1">
                                        <a class="page-link" (click)="goToPage(currentPage - 1)" href="javascript:void(0);">Previous</a>
                                      </li>
                                      <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index" [class.active]="currentPage === (i + 1)">
                                        <a class="page-link" (click)="goToPage(i + 1)" href="javascript:void(0);">{{ i + 1 }}</a>
                                      </li>
                                      <li class="page-item" [class.disabled]="currentPage === totalPages">
                                        <a class="page-link" (click)="goToPage(currentPage + 1)" href="javascript:void(0);">Next</a>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            
                        </div>
                    </div>
                </div>							
            </div>					
        </div>
    </div>
</div>
