<div class="page-wrapper">
    <div class="content">
      <div class="page-header">
        <div class="row">
          <div class="col-sm-12">
            <ul class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="#">Physician</a>
              </li>
              <li class="breadcrumb-item">
                <i class="feather-chevron-right"></i>
              </li>
              <li class="breadcrumb-item active">Add Physician</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
              <form [formGroup]="doctorForm" (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-12">
                    <div class="form-heading">
                      <h4>Physician Details</h4>
                    </div>
                  </div>
  
                  <div class="col-12 col-md-6 col-xl-4">
                    <div class="form-group local-forms">
                      <label>First Name <span class="login-danger">*</span></label>
                      <input class="form-control" type="text" formControlName="firstName" placeholder="Enter first name" />
                      <div *ngIf="doctorForm.get('firstName').invalid && (doctorForm.get('firstName').touched || submitted)">
                        <div class="error-message" *ngIf="doctorForm.get('firstName').errors.required">This field is required.</div>
                      </div>
                    </div>
                  </div>
  
                  <div class="col-12 col-md-6 col-xl-4">
                    <div class="form-group local-forms">
                      <label>Last Name <span class="login-danger">*</span></label>
                      <input class="form-control" type="text" formControlName="lastName" placeholder="Enter last name" />
                      <div *ngIf="doctorForm.get('lastName').invalid && (doctorForm.get('lastName').touched || submitted)">
                        <div class="error-message" *ngIf="doctorForm.get('lastName').errors.required">This field is required.</div>
                      </div>
                    </div>
                  </div>
  
                  <div class="col-12 col-md-6 col-xl-4">
                    <div class="form-group local-forms">
                      <label>Email <span class="login-danger">*</span></label>
                      <input class="form-control" type="email" formControlName="email" placeholder="Enter email address" />
                      <div *ngIf="doctorForm.get('email').invalid && (doctorForm.get('email').touched || submitted)">
                        <div *ngIf="doctorForm.get('email').errors.required">This field is required.</div>
                        <div class="error-message" *ngIf="doctorForm.get('email').errors.email">Invalid email address.</div>
                      </div>
                    </div>
                  </div>
  
                  <div class="col-12 col-md-6 col-xl-4">
                    <div class="form-group local-forms">
                      <label>Mobile <span class="login-danger">*</span></label>
                      <input class="form-control" type="text" formControlName="phone" placeholder="Enter mobile number" />
                      <div *ngIf="doctorForm.get('phone').invalid && (doctorForm.get('phone').touched || submitted)">
                        <div *ngIf="doctorForm.get('phone').errors.required">This field is required.</div>
                        <div class="error-message" *ngIf="doctorForm.get('phone').errors.pattern">Only numbers are allowed.</div>
                      </div>
                    </div>
                  </div>
  
                  <div class="col-12 col-md-6 col-xl-4">
                    <div class="form-group local-forms">
                      <label>Date of Birth <span class="login-danger">*</span></label>
                      <input class="form-control" type="date" formControlName="dob" />
                      <div *ngIf="doctorForm.get('dob').invalid && (doctorForm.get('dob').touched || submitted)">
                        <div class="error-message" *ngIf="doctorForm.get('dob').errors.required">This field is required.</div>
                      </div>
                    </div>
                  </div>
  
                  <div class="col-12 col-md-6 col-xl-4">
                    <div class="form-group local-forms">
                      <label>Address Street 1 <span class="login-danger">*</span></label>
                      <input class="form-control" type="text" formControlName="addressStreet1" placeholder="Enter address" />
                      <div *ngIf="doctorForm.get('addressStreet1').invalid && (doctorForm.get('addressStreet1').touched || submitted)">
                        <div class="error-message" *ngIf="doctorForm.get('addressStreet1').errors.required">This field is required.</div>
                      </div>
                    </div>
                  </div>
  
                  <div class="col-12 col-md-6 col-xl-4">
                    <div class="form-group local-forms">
                      <label>Address Street 2 <span class="login-danger"></span></label>
                      <input class="form-control" type="text" formControlName="addressStreet2" placeholder="Enter address" />
                      <!-- <div *ngIf="doctorForm.get('addressStreet2').invalid && (doctorForm.get('addressStreet2').touched || submitted)">
                        <div class="error-message" *ngIf="doctorForm.get('addressStreet2').errors.required">This field is required.</div>
                      </div> -->
                    </div>
                  </div>
  
                  <div class="col-12 col-md-6 col-xl-4">
                    <div class="form-group local-forms">
                      <label>Zip Code <span class="login-danger">*</span></label>
                      <input class="form-control" type="text" formControlName="zipCode" placeholder="Enter zip code" />
                      <!-- <div *ngIf="doctorForm.get('zipCode').invalid && (doctorForm.get('zipCode').touched || submitted)">
                        <div class="error-message" *ngIf="doctorForm.get('zipCode').errors.required">This field is required.</div>
                      </div> -->
                    </div>
                  </div>
  
                  <div class="col-12 col-md-6 col-xl-4">
                    <div class="form-group local-forms">
                      <label>Country <span class="login-danger">*</span></label>
                      <select class="form-control" formControlName="country" (change)="onCountryChange($event)">
                        <option value="">Select country</option>
                        <option *ngFor="let country of countryList" [value]="country._id">{{ country.name }}</option>
                      </select>
                      <!-- <div *ngIf="doctorForm.get('country').invalid && (doctorForm.get('country').touched || submitted)">
                        <div class="error-message" *ngIf="doctorForm.get('country').errors.required">This field is required.</div>
                      </div> -->
                    </div>
                  </div>
                  
                  <div class="col-12 col-md-6 col-xl-4">
                    <div class="form-group local-forms">
                      <label>State <span class="login-danger">*</span></label>
                      <select class="form-control" formControlName="state" (change)="onStateChange($event)">
                        <option value="">Select state</option>
                        <option *ngFor="let state of stateList" [value]="state._id">{{ state.name }}</option>
                      </select>
                      <!-- <div *ngIf="doctorForm.get('state').invalid && (doctorForm.get('state').touched || submitted)">
                        <div class="error-message" *ngIf="doctorForm.get('state').errors.required">This field is required.</div>
                      </div> -->
                    </div>
                  </div>
                  
                  <div class="col-12 col-md-6 col-xl-4">
                    <div class="form-group local-forms">
                      <label>City <span class="login-danger">*</span></label>
                      <select class="form-control" formControlName="city">
                        <option value="">Select city</option>
                        <option *ngFor="let city of cityList" [value]="city._id">{{ city.name }}</option>
                      </select>
                      <!-- <div *ngIf="doctorForm.get('city').invalid && (doctorForm.get('city').touched || submitted)">
                        <div class="error-message" *ngIf="doctorForm.get('city').errors.required">This field is required.</div>
                      </div> -->
                    </div>
                  </div>
                  
  
                  <div class="col-12 col-md-6 col-xl-4">
                    <div class="form-group local-forms">
                      <label>Medical Licence Number <span class="login-danger">*</span></label>
                      <input class="form-control" type="text" formControlName="medicalLicenceNumber" placeholder="Enter medical licence number" />
                      <!-- <div *ngIf="doctorForm.get('medicalLicenceNumber').invalid && (doctorForm.get('medicalLicenceNumber').touched || submitted)">
                        <div class="error-message" *ngIf="doctorForm.get('medicalLicenceNumber').errors.required">This field is required.</div>
                      </div> -->
                    </div>
                  </div>
  
                  <div class="col-12 col-md-6 col-xl-4">
                    <div class="form-group local-forms">
                      <label>Medical Licence Date <span class="login-danger">*</span></label>
                      <input class="form-control" type="date" formControlName="medicalLicenceDate" />
                      <!-- <div *ngIf="doctorForm.get('medicalLicenceDate').invalid && (doctorForm.get('medicalLicenceDate').touched || submitted)">
                        <div class="error-message" *ngIf="doctorForm.get('medicalLicenceDate').errors.required">This field is required.</div>
                      </div> -->
                    </div>
                  </div>
  
                  <div class="col-12 col-md-6 col-xl-4">
                    <div class="form-group local-forms">
                      <label>DEA Number <span class="login-danger">*</span></label>
                      <input class="form-control" type="text" formControlName="deaNumber" placeholder="Enter DEA number" />
                      <!-- <div *ngIf="doctorForm.get('deaNumber').invalid && (doctorForm.get('deaNumber').touched || submitted)">
                        <div class="error-message" *ngIf="doctorForm.get('deaNumber').errors.required">This field is required.</div>
                      </div> -->
                    </div>
                  </div>
  
                  <div class="col-12 col-md-6 col-xl-4">
                    <div class="form-group local-forms">
                      <label>DEA Expiry Date <span class="login-danger">*</span></label>
                      <input class="form-control" type="date" formControlName="deaExpiryDate" />
                      <!-- <div *ngIf="doctorForm.get('deaExpiryDate').invalid && (doctorForm.get('deaExpiryDate').touched || submitted)">
                        <div class="error-message" *ngIf="doctorForm.get('deaExpiryDate').errors.required">This field is required.</div>
                      </div> -->
                    </div>
                  </div>
  
                  <div class="col-12 col-md-6 col-xl-4">
                    <div class="form-group local-forms">
                      <label>CDS Number <span class="login-danger">*</span></label>
                      <input class="form-control" type="text" formControlName="cdsNumber" placeholder="Enter CDS number" />
                      <!-- <div *ngIf="doctorForm.get('cdsNumber').invalid && (doctorForm.get('cdsNumber').touched || submitted)">
                        <div class="error-message" *ngIf="doctorForm.get('cdsNumber').errors.required">This field is required.</div>
                      </div> -->
                    </div>
                  </div>
  
                  <div class="col-12 col-md-6 col-xl-4">
                    <div class="form-group local-forms">
                      <label>CDS Expiry Date <span class="login-danger">*</span></label>
                      <input class="form-control" type="date" formControlName="cdsExpiryDate" />
                      <!-- <div *ngIf="doctorForm.get('cdsExpiryDate').invalid && (doctorForm.get('cdsExpiryDate').touched || submitted)">
                        <div class="error-message" *ngIf="doctorForm.get('cdsExpiryDate').errors.required">This field is required.</div>
                      </div> -->
                    </div>
                  </div>
  
                  <div class="col-12 col-md-6 col-xl-4">
                    <div class="form-group local-forms">
                      <label>NPI Number <span class="login-danger">*</span></label>
                      <input class="form-control" type="text" formControlName="npiNumber" placeholder="Enter NPI number" />
                      <!-- <div *ngIf="doctorForm.get('npiNumber').invalid && (doctorForm.get('npiNumber').touched || submitted)">
                        <div class="error-message" *ngIf="doctorForm.get('npiNumber').errors.required">This field is required.</div>
                      </div> -->
                    </div>
                  </div>
  
                  <div class="col-12">
                    <div class="doctor-submit text-end">
                      <button class="btn btn-primary submit-form me-2" type="submit">Submit</button>
                      <button type="button" class="btn btn-primary cancel-form" (click)="onCancel()">Cancel</button>
                    </div>
                  </div>
  
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  