.country_state_city{
    width: 430; 
    border-radius: 10px; 
    font-size: 14px; 
    min-height: 45px;
}
.icon-action {
    text-decoration: none; 
    color: inherit;
}

.icon-action:hover {
    color: red;
}
